/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/
*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Noto Serif', serif;
}

img {
    width: 100px;
}

.ligt-text{
    font-weight: 300;
}
.bold-text{
    font-weight: 700;
    margin: 15px;
}

.round-image{
    border-radius: 50px;
    margin: 20px;
}

.round-image:hover{
    box-shadow: 0px 0px 8px #1D3557;
}

.hero{
    background-image: url("images/torshov.jpg");
    background-size: cover;
    height: 343px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.hero > h1{
    width: 225px;
    /* height: 42px; */
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #1D3557;
}

.hero > h2{
    width: 412px;
    /* height: 42px; */
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: #457B9D;
}

.activities{
    background-color: #F1FAEE;
    height: 378px;
    padding-top: 39px;
    
}

.active-desc{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 39px;
}

.park{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

.theatre{
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
    
}

.sports{
    display: flex;
    width: 200px;
    flex-direction: column;
    align-items: center;
}

.guide{
    border-bottom: 5px solid #1D3557;
    background-color: #A8DADC;
    color: #1D3557;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 294px;
    margin: 50px auto;
    padding: 10px;
    border-radius: 10px;
}

.guide > img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}

.guide-info > p{
    font-style: italic;
}

.guide-info {
    height: 194px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}